body{background-color: #7f8c8d;}
#doorsImg1{
  background: url('tesla-model-x-doors.jpg');
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.doorsHeader{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color:white;
  font-size:120px;
}
.doorsHeader2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color:white;
  font-size:100px;
  padding: 7vh;
}
.doorsText{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 25px;
  color:white;
}
#doorsContent1{
  height:6vh;
  width:85%;
  justify-content: center;
  margin-left: auto ;
  margin-right: auto ;
}
#doorsContent2{
  height: 18vh;
  width:85%;
  justify-content: center !important;
  margin-left: auto ;
  margin-right: auto ;

}
#doorsImg2{
  background: url('tesla-model-x-doors2.jpg');
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#doorsContent3{
  height: 9vh;
  width:85%;
  justify-content: center !important;
  margin-left: auto ;
  margin-right: auto ;

}
#doorsImg3{
  background: url('tesla-model-x-doors3.jpg');
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#doorsContent4{
  height: 0vh;
  width:85%;
  justify-content: center !important;
  margin-left: auto ;
  margin-right: auto ;

}
#doorsImg4{
  background: url('tesla-model-x-doors4.png');
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
